.v3-standards {
  $self: &;

  display: flex;
  width: 100%;

  .swiper-slide {
    display: flex;
    width: 100%;

    @include tablet() {
      flex-direction: column;
      padding-top: 12px;
    }

    &_bg {
      &-default {
        #{$self}__info {
          background-color: #4BA2D4;
        }
        @include tablet() {
          #{$self}__video {
            background-color: #4BA2D4;
          }
        }
      }

      &-orange {
        #{$self}__info {
          background-color: $orange;
        }
        @include tablet() {
          #{$self}__video {
            background-color: $orange;
          }
        }
      }

      &-apple {
        #{$self}__info {
          background-color: $apple;
        }
        @include tablet() {
          #{$self}__video {
            background-color: $apple;
          }
        }
      }

      &-san-marino {
        #{$self}__info {
          background-color: $san-marino;
        }
        @include tablet() {
          #{$self}__video {
            background-color: $san-marino;
          }
        }
      }

      &-mandy {
        #{$self}__info {
          background-color: $mandy;
        }
        @include tablet() {
          #{$self}__video {
            background-color: $mandy;
          }
        }
      }

      &-oslo-gray {
        #{$self}__info {
          background-color: $oslo-gray;
        }
        @include tablet() {
          #{$self}__video {
            background-color: $oslo-gray;
          }
        }
      }
    }

    &-wrapper {
      max-width: 460px;
    }
  }

  #{$self}__video {
    position: relative;
    padding: 60px 0;
    width: 50%;

    @include tablet() {
      padding: 0 10px;
      width: 100%;
      height: 240px;
      padding-bottom: 35px;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      //height: 100%;
      height: 638px;
      background-color: red;
      overflow: hidden;

      @include tablet() {
        height: 100%;
        //transform: translate3d(0,-12px,0);
        margin-top: -12px;
      }
    }

    &-btn {
      position: absolute;
      bottom: 35px;
      right: 46px;
      width: 98px;
      height: 98px;
      color: $white;
      cursor: pointer;

      @include tablet() {
        width: 50px;
        height: 50px;
        left: 50%;
        bottom: 0;
        top: 50%;
        transform: translate3d(-50%,-50%,0);
      }
    }
  }

  #{$self}__info {
    padding-top: 115px;
    padding-left: 300px;
    flex: 1;
    margin-left: -180px;
    height: 400px;
    background-color: #4BA2D4;
    min-height: 762px;

    @include tablet() {
      flex: 1;
      height: unset;
      padding: 0 20px 100px;
      margin-left: 0;
      min-height: 300px;
    }
  }

  #{$self}__more-btn {
    width: 37px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($white, 0.2);
    border-radius: 7.5px;
    cursor: pointer;
    margin-bottom: 75px;

    span {
      color: $white;
      position: relative;
      bottom: 25%;
      pointer-events: none;
      user-select: none;
    }
  }

  #{$self}__v3 {
    &-pretitle {
      margin-bottom: 10px;
    }

    &-title {
      margin-bottom: 13px;
    }

    &-description {
      margin-bottom: 25px;

      &:after {
        content: '...';
      }

      &.js_show-more {
        &:after {
          display: none;
        }

        .hidden-part {
          display: inline;
        }
      }

      .hidden-part {
        display: none;
      }
    }

    &-swiper-controls {
      position: absolute;
      bottom: 150px;
      left: calc(50% + 118px);
      width: 460px;
      z-index: 2;

      @include tablet() {
        width: 100%;
        bottom: 0;
        left: 0;
        padding-left: 20px;
        padding-right: 35px;
        padding-bottom: 25px;
      }
    }
  }

  .swiper-container {
    position: relative;

    @include tablet() {
      width: 100vw;
    }
  }

  .swiper-wrapper {
    @include tablet() {}
  }
}
