.v3-standards {
  $self: &;
  position: relative;

  #{$self}__back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 762px;

    @include to-md() {
      flex-direction: column;
      height: 840px;
    }

    @include to-sm() {
      padding-bottom: 25px;
      height: 787px;
    }
  }

  #{$self}__video {
    width: 50%;
    height: 638px;
    background-color: red;
    content: '';
    margin-top: 60px;
    z-index: 1;

    @include to-md() {
      width: 100%;
      height: 400px;
      min-height: 400px;
      margin-top: -12px;
    }

    @include to-sm() {
      height: 237px;
      min-height: 237px;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px);
    }

    &-btn {
      position: absolute;
      bottom: 35px;
      right: 46px;
      width: 98px;
      height: 98px;
      color: $white;
      cursor: pointer;

      @include tablet() {
        width: 50px;
        height: 50px;
        left: 50%;
        bottom: 0;
        top: 50%;
        transform: translate3d(-50%,-50%,0);
      }
    }
  }

  #{$self}__info {
    width: calc(50% + 180px);
    height: 100%;
    margin-left: -180px;
    background-color: green;
    transition: background-color 0.25s;

    @include to-md() {
      width: 100%;
      margin-left: 0;
    }
  }

  .swiper-slide {}

  #{$self}__info-wrapper {
    padding-top: 115px;
    user-select: none;

    @include to-md() {
      margin-top: 400px;
      padding-top: 12px;
    }

    @include to-sm() {
      width: calc(100%);
      margin-top: 237px;
      padding: 12px 10px 0;
    }
  }

  #{$self}__more-btn {
    width: 37px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($white, 0.2);
    border-radius: 7.5px;
    cursor: pointer;
    margin-bottom: 75px;

    span {
      color: $white;
      position: relative;
      bottom: 25%;
      pointer-events: none;
      user-select: none;
    }
  }

  #{$self}__v3 {
    &-pretitle {
      margin-bottom: 10px;
    }

    &-title {
      margin-bottom: 13px;
    }

    &-description {
      margin-bottom: 25px;

      &:after {
        content: '...';
      }

      &.js_show-more {
        &:after {
          display: none;
        }

        .hidden-part {
          display: inline;
        }
      }

      .hidden-part {
        display: none;
      }
    }

    &-swiper-controls {
      position: relative;
      display: flex;
      justify-content: space-between;
      z-index: 2;

      @include to-md() {
        width: 100%;
        bottom: 0;
        left: 0;
        padding-left: 10px;
        padding-right: 25px;
      }

      @include to-sm() {
      }
    }
  }

  .swiper-container {
    position: relative;
  }

  .swiper-wrapper {
    @include tablet() {}
  }
}
