include ../../components/v3-swiper-controls/v3-swiper-controls

mixin v3-standards(bem)
  +b('v3-standards', bem)&attributes(attributes)
    +e('back')
      +e('video')
      +e('info')

    .container
      .swiper-container
        .swiper-wrapper
          for elem in standards
            .swiper-slide(data-color=elem.theme)
                +e('info-wrapper').col-md-offset-7
                  +v3-pretitle({e: '&', m: 'color-white'}) Стандарты СМ.Сити
                  +v3-title({e:'&', m: 'color-white'})= elem.title
                  +v3-description({e: '&', m: 'color-white'}) !{elem.description}
                  +e('more-btn')
                    span ...

      +v3-swiper-controls({e: '&', m: 'theme-white'}, {
        buttons: true,
        pagination: 'true'
      }).col-md-offset-7