.section {
  $self: &;

  @include mobile() {
  }

  &#v3-mission {
    padding-top: 174px;
    padding-bottom: 278px;

    @include mobile() {
      padding: 60px 10px;
    }
  }

  &#v3-standards {
    margin-bottom: 167px;

    @include to-md() {
      margin-bottom: 30px;
    }

    @include to-sm() {
      margin-bottom: 13px;
    }
  }

  &#v3-team {
    margin-bottom: 230px;

    @include to-md() {
      margin-bottom: 140px;
    }
  }

  &#v3-locations {
    background-color: $bluewood;
  }
}