.v3-swiper-controls {
  $self: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &#{$self}_theme {
    &-white {
      #{$self}__btn-wrapper {
        border-color: rgba($white, 0.41);
      }

      #{$self}__btn {
        color: $white;
      }
    }
  }

  #{$self}__btns {
    display: flex;
  }

  #{$self}__btn-wrapper {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba($alto, 0.41);
    border-radius: 50%;
    margin-right: 25px;
    cursor: pointer;
  }

  #{$self}__btn {
    width: 26px;
    height: 18px;
    color: $san-marino;
  }

  #{$self}__pagination {
    font-size: 18px;
    line-height: 1.6;
    color: $white;

    .current {
      font-size: 44px;
      font-weight: 500;
      padding-right: 5px;
    }

    .total {
      padding-left: 5px;
    }
  }
}