.v3-project-card {
  $self: &;
  $gap: 20px;

  position: relative;
  width: calc(100% / 12 * 3 - #{$gap});
  height: 362px;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 24px;
  color: $white;
  transition: color .5s;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba($black, 0.31) 0%, rgba($black, 0) 100%);
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 5px;
    z-index: 0;

    @include to-md() {
      content: '';
    }
  }

  @include to-md() {
    width: calc(50% - #{$gap});
  }

  @include to-sm() {
    width: 100%;
  }

  &:hover {
    text-decoration: unset;
    color: $white;
  }

  &:focus {
    text-decoration: unset;
  }

  &#{$self}_wide {
    width: calc(100% / 12 * 6 - #{$gap});

    @include to-md() {
      width: 100%;
    }
  }

  #{$self}__start {
    position: relative;
    z-index: 1;
  }

  #{$self}__title {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #{$self}__about {
    display: block;
    font-size: 14px;
    line-height: 17px;
  }

  #{$self}__end {
    position: relative;
    display: block;
    align-self: flex-end;
    z-index: 1;
  }

  #{$self}__flats-title {
    display: block;
    text-align: right;
    font-weight: bold;
  }

  #{$self}__amount {
    display: block;
    text-align: right;
    font-size: 78px;
    line-height: 95px;
    font-weight: bold;
  }
}
