@mixin mobile() {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet() {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin md() {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin hd() {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

@mixin full-hd() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}