.v3-title {
  $self: &;

  font-size: 52px;
  line-height: 1.29;
  font-weight: bold;
  color: #070707;
  text-transform: uppercase;

  @include mobile() {
    font-size: 32px;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  &_color-white {
    color: $white;
  }
}
