.v3-header-menu {
  $self: &;

  position: fixed;
  top: 0;
  left: 0;
  padding-right: 17px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s;

  &.js_background {
    background-color: #2d3d52;
  }

  #{$self}__logo-wrapper {
    height: 100%;
    width: 195px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: $black;
    margin-right: 35px;
  }

  #{$self}__logo {
    width: 145px;
    height: 33px;
    color: $white;

    svg {
      max-width: 100%;
    }
  }

  #{$self}__start {
    display: flex;
    align-items: center;
    height: 100%;
  }

  #{$self}__end {
    display: flex;
    align-items: center;
    height: 100%;
  }

  #{$self}__menu-wrapper {
    display: flex;
    align-items: center;
    margin-right: 60px;
  }

  #{$self}__menu-icon {
    width: 20px;
    height: 16px;
    color: $white;
    margin-right: 14px;
  }

  #{$self}__item {
    font-size: 16px;
    line-height: 26px;
    color: $white;
    margin-right: 25px;


    &:hover {
      text-decoration: none;
      //color: rgba($white, .7);
    }

    &_small {
      font-size: 12px;
      line-height: 18px;
    }

    &_info-disclosure {
      max-width: 100px;
      text-align: center;
      margin-right: 40px;
    }
  }

  #{$self}__search {
    width: 22px;
    height: 22px;
  }

  #{$self}__phone {


    &-link {
      font-size: 16px;
      line-height: 26px;
      color: $white;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }

      span {
        font-weight: bold;
      }
    }
  }

  #{$self}__callback {
    display: flex;
    align-items: center;
    color: #80B91E;

    &:hover {
      //color: rgba(#80b91e, 0.7);
      opacity: 0.7;
      text-decoration: none;
    }

    &-icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    &-text {
      font-size: 14px;
      line-height: 23px;
    }
  }

  a {
    transition: opacity .5s;

    &:hover {
      opacity: 0.7;
    }
  }
}