.v3-locations {
  $self: &;
  position: relative;
  margin-bottom: 67px;

  #{$self}__back {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    transform: translate3d(0,-52px,0);

    @include to-md() {
      position: relative;
      left: 0;
      width: 100%;
      padding: 0 10px;
    }
  }

  #{$self}__photo {
    position: relative;
    height: 710px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    @include to-md() {
      height: 420px;
      margin-bottom: 0;
    }

    @include to-sm() {
      height: 263px;
    }

    &.js_transition {
      transition: opacity .25s;
      opacity: 0.9;
    }
  }

  #{$self}__thumbnails-wrapper {
    width: 100%;

    @include to-md() {
      width: 100%;
    }
  }

  #{$self}__thumbnails {
    .swiper-slide {
      height: 67px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.6;
      cursor: pointer;

      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }

    #{$self}__thumb {
    }
  }

  #{$self}__thumb {
    cursor: pointer;
    opacity: 0.6;

    &.js_active {
      img {
        opacity: 1;
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      max-width: 100%;
      max-height: 100%;
      opacity: 0.6;
    }
  }

  #{$self}__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-top: 90px;
    padding-right: 20px;
    padding-bottom: 75px;
    user-select: none;

    @include to-md() {
      width: 100%;
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -20px;
      padding-bottom: 55px;
    }

    &-start {
      width: calc(100% / 6 * 5);

      @include to-md() {
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;

        .v3-description {
        }

        .v3-swiper-controls {
          .v3-swiper-controls__pagination {
            margin-bottom: 0;
            padding-top: 40px;

            @include to-md() {
              padding-top: 0;
              margin-left: auto;
              margin-top: -60px;
            }
          }
        }
      }
    }

    &-end {
      @include to-md() {
        order: 1;
        display: flex;
        flex-direction: column;

        .v3-locations__thumbnails-wrapper {
          order: 1;
          margin-bottom: 42px;
          margin-left: -20px;
          margin-right: -20px;
          width: 100vw;
        }

        .v3-swiper-controls{
          order: 3;
        }
      }
    }
  }

  #{$self}__v3 {
    &-pretitle {
      @include to-md() {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3em;
      }
    }

    &-title {
      margin-bottom: 30px;

      @include to-md() {
        width: 90%;
        margin-bottom: 25px;
      }
    }

    &-description {
      margin-bottom: 65px;

      @include to-md() {
        display: none;
        margin-bottom: 30px;
        order: 2;
      }

      &.mobile {
        display: none;

        @include to-md() {
          display: block;
        }
      }
    }

    &-swiper-controls {
      margin-bottom: 0;

      .v3-swiper-controls__pagination {
        margin-bottom: 23px;

        @include to-md() {
          padding-top: 0;
        }
      }

      .v3-swiper-controls__btns {
        margin-bottom: 82px;

        @include to-md() {
          margin-bottom: 0;
        }
      }
    }
  }
}
